* {
    box-sizing: 100%;
}

body {
    margin: auto;
    background-color: rgb(182, 211, 159);

}
.head{
    text-align: center;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.lists__pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, Ifr));
    gap: 3em;
    padding: 5em;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

.pokemon__img {

    border: 1px solid #ccc;
    width: 100%;
    border-radius: 15px;
    /* margin-top: 8em; */
    color: #fff;
    padding: 1em;
    background-color: aquamarine;


}

.pokemon__img img {
    height: 100px;
    width: 100%;
    margin-top: -5em;
    margin-right: 200px;

}

.buttons {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: 5em auto 5em;

}

.pokeName {
    color: black;
    font-weight: bolder;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    border-radius: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(66, 202, 42);
    margin: 50px;
}
